.transaction {
  padding: 16px;
  margin: 0 -16px;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.transaction:hover {
  background: #eee;
}

.content {
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  align-items: center;
}

.message {
  margin: -4px 0 0 50px;
  color: rgba(0,0,0,0.33);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
